@font-face {
  font-family: "Soehne Buch";
  font-style: regular;
  font-weight: 400;
  src: url("./assets/fonts/soehne-buch.woff2") format("woff2");
}

@font-face {
  font-family: "Soehne Kraeftig";
  font-style: regular;
  font-weight: 500;
  src: url("./assets/fonts/soehne-kraftig.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

:root {
  font-family: Soehne Buch, Soehne Kraeftig, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
